### Data Acquisition

In [1]:
# all modules
import pandas as pd
from sqlalchemy import create_engine
#import missingno

# Loading dataset .db

In [2]:
#load dataset

sqlitedb_path = '/home/usuario/Documentos/Ironhack/Project_1_0420_JuanMunoz/data/raw/raw_data_project_m1.db'
engine = create_engine(f'sqlite:///{sqlitedb_path}')

query_all = """SELECT * FROM career_info cif  
inner join poll_info pif on cif.uuid = pif.uuid  
inner join country_info ci on ci.uuid = pif.uuid 
inner join personal_info pi on pi.uuid = ci.uuid"""

df_all_raw_data = pd.read_sql_query(query_all, engine)

df_all_raw_data[0:10]

,uuid,dem_education_level,dem_full_time_job,normalized_job_code,uuid,question_bbi_2016wave4_basicincome_awareness,question_bbi_2016wave4_basicincome_vote,question_bbi_2016wave4_basicincome_effect,question_bbi_2016wave4_basicincome_argumentsfor,question_bbi_2016wave4_basicincome_argumentsagainst,uuid,country_code,rural,uuid,age,gender,dem_has_children,age_group
0,f6e7ee00-deac-0133-4de8-0a81e8b09a82,no,no,None,f6e7ee00-deac-0133-4de8-0a81e8b09a82,I know something about it,I would not vote,None of the above,None of the above,None of the above,f6e7ee00-deac-0133-4de8-0a81e8b09a82,AT,countryside,f6e7ee00-deac-0133-4de8-0a81e8b09a82,61 years old,male,NO,40_65
1,54f0f1c0-dda1-0133-a559-0a81e8b09a82,high,yes,861a9b9151e11362eb3c77ca914172d0,54f0f1c0-dda1-0133-a559-0a81e8b09a82,I understand it fully,I would probably vote for it,A basic income would not affect my work choices,It increases appreciation for household work a...,It might encourage people to stop working,54f0f1c0-dda1-0133-a559-0a81e8b09a82,AT,urban,54f0f1c0-dda1-0133-a559-0a81e8b09a82,57 years old,male,yES,40_65
2,83127080-da3d-0133-c74f-0a81e8b09a82,None,no,None,83127080-da3d-0133-c74f-0a81e8b09a82,I have heard just a little about it,I would not vote,‰Û_ gain additional skills,It creates more equality of opportunity,Foreigners might come to my country and take a...,83127080-da3d-0133-c74f-0a81e8b09a82,AT,city,83127080-da3d-0133-c74f-0a81e8b09a82,32 years old,male,nO,26_39
3,15626d40-db13-0133-ea5c-0a81e8b09a82,high,yes,049a3f3a2b5f85cb2971ba77ad66e10c,15626d40-db13-0133-ea5c-0a81e8b09a82,I have heard just a little about it,I would probably vote for it,‰Û_ work less,It reduces anxiety about financing basic needs,None of the above,15626d40-db13-0133-ea5c-0a81e8b09a82,AT,Country,15626d40-db13-0133-ea5c-0a81e8b09a82,45 years old,Male,YES,40_65
4,24954a70-db98-0133-4a64-0a81e8b09a82,high,yes,f4b2fb1aa40f661488e2782b6d57ad2f,24954a70-db98-0133-4a64-0a81e8b09a82,I have heard just a little about it,I would probably vote for it,None of the above,It reduces anxiety about financing basic needs,It is impossible to finance | It might encoura...,24954a70-db98-0133-4a64-0a81e8b09a82,AT,city,24954a70-db98-0133-4a64-0a81e8b09a82,41 years old,Fem,yES,40_65
5,28583060-dbe2-0133-ff9c-0a81e8b09a82,high,yes,27af8700f5577cec835acee2cb90a2ff,28583060-dbe2-0133-ff9c-0a81e8b09a82,I understand it fully,I would vote against it,A basic income would not affect my work choices,It encourages financial independence and self-...,It is impossible to finance | It might encoura...,28583060-dbe2-0133-ff9c-0a81e8b09a82,AT,countryside,28583060-dbe2-0133-ff9c-0a81e8b09a82,1990,FeMale,NO,26_39
6,b50dbb80-da53-0133-8956-0a81e8b09a82,medium,no,None,b50dbb80-da53-0133-8956-0a81e8b09a82,I know something about it,I would probably vote for it,‰Û_ work as a freelancer,It reduces anxiety about financing basic needs,Foreigners might come to my country and take a...,b50dbb80-da53-0133-8956-0a81e8b09a82,AT,urban,b50dbb80-da53-0133-8956-0a81e8b09a82,1990,Fem,NO,26_39
7,dd743bb0-d9a5-0133-53b2-0a81e8b09a82,medium,yes,c1b670eba9ccb65e7c99f7da116d5b9c,dd743bb0-d9a5-0133-53b2-0a81e8b09a82,I know something about it,I would probably vote for it,A basic income would not affect my work choices,It increases appreciation for household work a...,It might encourage people to stop working | Fo...,dd743bb0-d9a5-0133-53b2-0a81e8b09a82,AT,urban,dd743bb0-d9a5-0133-53b2-0a81e8b09a82,47 years old,Male,NO,40_65
8,4fde2370-da48-0133-3a42-0a81e8b09a82,medium,yes,d71c4164c99a5f9bca773e755a72f40f,4fde2370-da48-0133-3a42-0a81e8b09a82,I have heard just a little about it,I would probably vote for it,None of the above,It creates more equality of opportunity | It r...,Foreigners might come to my country and take a...,4fde2370-da48-0133-3a42-0a81e8b09a82,AT,city,4fde2370-da48-0133-3a42-0a81e8b09a82,34 years old,FeMale,nO,26_39
9,9949c4c0-da5f-0133-c832-0a81e8b09a82,no,no,None,9949c4c0-da5f-0133-c832-0a81e8b09a82,I understand it fully,I would vote for it,‰Û_ do more volunteering work,"It increases solidarity, because it is funded ...",Foreigners might come to my country and take a...,9949c4c0-da5f-0133-c832-0a81e8b09a82,AT,urban,9949c4c0-da5f-0133-c832-0a81e8b09a82,1994,female,yES,juvenile

In [3]:
# basic exploration

print('DATAFRAME SHAPE \n - rows: {} \n - columns: {}'.format(df_all_raw_data.shape[0],df_all_raw_data.shape[1]),'\n')
print('DATAFRAME NULLS COUNT: \n{}'.format(df_all_raw_data.isnull().sum()),'\n')
print('DATAFRAME COLUMNS TYPE: \n{}'.format(df_all_raw_data.dtypes,'\n'))

# Value % of null data original
print('DATAFRAME ALL DATA')
display(df_all_raw_data.isnull().sum() / len(df_all_raw_data) *100)
#missingno.bar(df_all_raw_data, figsize=(16, 8))

#Watch out with the column normalized_job_code and dem_education_level
#Calculate corelation between normalized_job_code and dem_full_time_job

DATAFRAME SHAPE
 - rows: 9649
 - columns: 18

DATAFRAME NULLS COUNT:
uuid                                                      0
dem_education_level                                     663
dem_full_time_job                                         0
normalized_job_code                                    3947
uuid                                                      0
question_bbi_2016wave4_basicincome_awareness              0
question_bbi_2016wave4_basicincome_vote                   0
question_bbi_2016wave4_basicincome_effect                 0
question_bbi_2016wave4_basicincome_argumentsfor           0
question_bbi_2016wave4_basicincome_argumentsagainst       0
uuid                                                      0
country_code                                              0
rural                                                     0
uuid                                                      0
age                                                       0
gender                                                    0
dem_has_children                                          0
age_group                                                 0
dtype: int64

DATAFRAME COLUMNS TYPE:
uuid                                                   object
dem_education_level                                    object
dem_full_time_job                                      object
normalized_job_code                                    object
uuid                                                   object
question_bbi_2016wave4_basicincome_awareness           object
question_bbi_2016wave4_basicincome_vote                object
question_bbi_2016wave4_basicincome_effect              object
question_bbi_2016wave4_basicincome_argumentsfor        object
question_bbi_2016wave4_basicincome_argumentsagainst    object
uuid                                                   object
country_code                                           object
rural                                                  object
uuid                                                   object
age                                                    object
gender                                                 object
dem_has_children                                       object
age_group                                              object
dtype: object
DATAFRAME ALL DATA

uuid                                                    0.000000
dem_education_level                                     6.871178
dem_full_time_job                                       0.000000
normalized_job_code                                    40.905793
uuid                                                    0.000000
question_bbi_2016wave4_basicincome_awareness            0.000000
question_bbi_2016wave4_basicincome_vote                 0.000000
question_bbi_2016wave4_basicincome_effect               0.000000
question_bbi_2016wave4_basicincome_argumentsfor         0.000000
question_bbi_2016wave4_basicincome_argumentsagainst     0.000000
uuid                                                    0.000000
country_code                                            0.000000
rural                                                   0.000000
uuid                                                    0.000000
age                                                     0.000000
gender                                                  0.000000
dem_has_children                                        0.000000
age_group                                               0.000000
dtype: float64

# IMPORT DATA API

In [4]:
import json
import requests

list_api= []
list_job_codes= set(df_all_raw_data['normalized_job_code'])
#list_job_codes = list(list_job_codes[0:5]) #just downloading five codes to not be blocked by the api

for i in list_job_codes: 
    url = f'http://api.dataatwork.org/v1/jobs/{i}'
    response = requests.get(url)
    results_jobs = response.json()
    list_api.append(results_jobs)
    
data_jobs = pd.DataFrame(list_api)
data_jobs = data_jobs.rename(columns={'uuid':'normalized_job_code'})
data_jobs_api = data_jobs[['normalized_job_code','title','normalized_job_title']]
display(data_jobs_api)

print('DATAFRAME JOBS WITH TITLE SHAPE \n - rows: {} \n - columns: {}'.format(data_jobs_api.shape[0],data_jobs_api.shape[1]),'\n')

,normalized_job_code,title,normalized_job_title
0,996da29c84f5eed00da40c230f4c4078,Data Entry Representative,data entry representative
1,NaN,NaN,NaN
2,2ca138b991c50dc6696238e5ad800142,Database Software Technician,database software technician
3,0facaffe51cc1998a5fbdbe5fd18fd98,Weight in Motion Field Data Collection Technician,weight in motion field data collection technician
4,f8984e50675cf61e5ac1ea8f661e0ab2,Field Traffic Data Technician,field traffic data technician
5,41ba88cfd476ee8d5e3d9f7cea62f051,Data Recovery Planner,data recovery planner
6,a12a16280e22220f9354333f6fe1b22a,Geographic Information Systems Data Administra...,geographic information systems data administra...
7,6408c0d7c7faa4ced47fbc8474698126,Database Design Analyst,database design analyst
8,04c27c76b463a917800549cf88a59961,Data Communications Technician,data communications technician
9,2ee80cf30e2483dfe0947adc0428f8c5,Crime Data Specialist,crime data specialist
10,067c85859a63aa6f1c8c936904124dd6,Naval Tactical Data System--Combat Information...,naval tactical data systemcombat information c...
11,7bb15eefb19ed09c59349baad7e8469e,Database Coordinator,database coordinator
12,d71c4164c99a5f9bca773e755a72f40f,Geographic Information Systems Database Admini...,geographic information systems database admini...
13,491d82be40d8395e347f9584124bccdd,Flight Test Data Acquisition Technician,flight test data acquisition technician
14,122f24bc911a79c26ca66210557dda07,Clinical Data Specialist,clinical data specialist
15,a33662485eb4ad97096183db945308f4,Automatic Data Processing Planner (ADP Planner),automatic data processing planner adp planner
16,775190277a849cba701b306a7b374c0a,Data Officer,data officer
17,7932d4705d002b47789c11edfaed685e,Data Control Assistant,data control assistant
18,4f75f97ac5b5f00f9420074d501f0803,Data Capture Specialist,data capture specialist
19,41b2978a2c07c5f477e60f26372d6c85,Database Management System Specialist (DBMS Sp...,database management system specialist dbms spe...
20,433df1b945d32f17d9e61cf60a9bd06e,Data Abstractor,data abstractor
21,0044971fda4a261b6049a63817913e95,Data Processing Equipment Repairer,data processing equipment repairer
22,e605336f5a43949cb6b18054fd1937f1,Database Security Expert,database security expert
23,437e4414c78611a270a5cedb4b4c0eed,Data Collection Technician,data collection technician
24,800b621aab5dac18f4caef621fa43a49,Data Systems Manager,data systems manager
25,c34f03aa0a9c6edbe8ec50f4fa3687a8,Data Center Operator,data center operator
26,1a281bf4bd1fe9b2a6e464e508bea167,Data Storage Specialist,data storage specialist
27,e49986dae76619a3941d280ee14d38ae,Data Miner,data miner
28,2616d64becb4f2c478dd42f501bbfbff,Data Processing Control Clerk,data processing control clerk
29,e7b3e1c6a32c7247cd4857e4c3574165,Data Processing Systems Analyst,data processing systems analyst
...,...,...,...
127,31bf3181813e21ffdfd76b5881fab066,Data Entry Supervisor,data entry supervisor
128,b36bc5f02fd641a126df999bcefa2777,Data Technician,data technician
129,25fe195cbf915c0824fa6c44e6d0008c,Maintenance Data Analyst,maintenance data analyst
130,3833bd699e7afe4665b595f282da0387,Database Development and Administration Projec...,database development and administration projec...
131,569da68cdcac43a3b4a0126ea9170570,Database Designer,database designer
132,ccd7528fb38f16077360c5b67c9700c4,Data Communications Analyst,data communications analyst
133,7acaed29536648e45ea2b82d45047fcf,Medical Data Analyst,medical data analyst
134,8a7a3f1bce0958ae9f090683e5a925b7,Data Scientist,data scientist
135,1c37a6e2bf157c0eff4665c57c52602d,SCADA Technician (Supervisory Control and Data...,scada technician supervisory control and data ...
136,04b0eaf624b2deb45ccd62cf6ec7c7bc,Data Conversion Operator,data conversion operator
137,05bb9a333a66d6eb151e253623efe1c0,Data Entry Clerk,data entry clerk
138,1dd2fdc8a3981f2a1d8f0ca173952bb8,Database Administration Manager,database administration manager
139,46b09f5f86f1ed46a8cb8e14d41418c7,Survey Data Technician,survey data technician
140,022d0e3a40aa3e29bca6851542b27842,Data Keyer,data keyer
141,f670246beda8187fbe875401e7bc4ba6,Data Processing Services Sales Representative,data processing services sales representative
142,a4d5b8b38f9513825d0d94a981ebe962,Database Manager,database manager
143,f842344417ed2fc226d9cc00f9562458,Log Data Technician,log data technician
144,d329d187dafb7546061ec7fbf137a2b4,Clinical Data Abstractor,clinical data abstractor
145,2173ff3afd8d28192f7cf119af201940,Data Modeling Specialist,data modeling specialist
146,7a37ddb38441873334fd8ff07c17ad22,Data Acquisition Technician,data acquisition technician
147,dfea9e8bc3c565ff9e64d4288b1c423d,Customer Data Technician,customer data technician
148,ac47656fd51c2cd8037057262c910dc4,Data Processing Manager,data processing manager
149,36ac256201657eeaa67ee95aaae3cd54,Data Warehousing Specialist,data warehousing specialist
150,f4b2fb1aa40f661488e2782b6d57ad2f,Database Developer,database developer
151,bdf4dcd92089bc17345de83f4d06090f,Data Entry Operator,data entry operator
152,e2f68bf748aea2c7d2254550c0c92b23,Director of Data Operations,director of data operations
153,f2ecf36d7eb0a4225974fc6c4f48cfcb,Voice and Data Technician,voice and data technician
154,90c5430dbc810aec8695af2f1f4c42e8,Electronic Data Processing Auditor (EDP Auditor),electronic data processing auditor edp auditor
155,ac2588d5d7676a49bdcd038e4a0a0ec5,Data Compiler,data compiler
156,7028f15ad274cb4d9505101b9c1306b1,Clinical Data Management Manager (CDM Manager),clinical data management manager cdm manager

DATAFRAME JOBS WITH TITLE SHAPE
 - rows: 157
 - columns: 3

# Scraping country codes

In [5]:
from bs4 import BeautifulSoup
URL_SCRAPING = 'https://countrycode.org/'
html = requests.get(URL_SCRAPING).content

# lxml is the parsing module
soup = BeautifulSoup(html, 'lxml')
soup.contents[0:5]
table = soup.find_all('table', {'class':'table table-hover table-striped main-table'})[0]

# tr represent the table rows
rows = table.find_all('tr')
rows_parsed = [row.text for row in rows]
rows_parsed
row_list = [i.strip('\n').split('\n') for i in rows_parsed]


colnames = ['country_name', 'code_c', 'iso_codes','population','area_km2','gpd_usd']
data = row_list[1:]
data_country = pd.DataFrame(data, columns = colnames)


def country_codes(x):
    return x[0:2]


data_country['country_code'] = data_country['iso_codes'].apply(country_codes)
data_country_scraping = data_country[['country_code','country_name','population']]
display(data_country_scraping)

    country_code                    country_name   population
0             AF                     Afghanistan   29,121,286
1             AL                         Albania    2,986,952
2             DZ                         Algeria   34,586,184
3             AS                  American Samoa       57,881
4             AD                         Andorra       84,000
5             AO                          Angola   13,068,161
6             AI                        Anguilla       13,254
7             AQ                      Antarctica            0
8             AG             Antigua and Barbuda       86,754
9             AR                       Argentina   41,343,201
10            AM                         Armenia    2,968,000
11            AW                           Aruba       71,566
12            AU                       Australia   21,515,754
13            AT                         Austria    8,205,000
14            AZ                      Azerbaijan    8,303,512
15            BS                         Bahamas      301,790
16            BH                         Bahrain      738,004
17            BD                      Bangladesh  156,118,464
18            BB                        Barbados      285,653
19            BY                         Belarus    9,685,000
20            BE                         Belgium   10,403,000
21            BZ                          Belize      314,522
22            BJ                           Benin    9,056,010
23            BM                         Bermuda       65,365
24            BT                          Bhutan      699,847
25            BO                         Bolivia    9,947,418
26            BA          Bosnia and Herzegovina    4,590,000
27            BW                        Botswana    2,029,307
28            BR                          Brazil  201,103,330
29            IO  British Indian Ocean Territory        4,000
..           ...                             ...          ...
210           TW                          Taiwan   22,894,384
211           TJ                      Tajikistan    7,487,489
212           TZ                        Tanzania   41,892,895
213           TH                        Thailand   67,089,500
214           TG                            Togo    6,587,239
215           TK                         Tokelau        1,466
216           TO                           Tonga      122,580
217           TT             Trinidad and Tobago    1,228,691
218           TN                         Tunisia   10,589,025
219           TR                          Turkey   77,804,122
220           TM                    Turkmenistan    4,940,916
221           TC        Turks and Caicos Islands       20,556
222           TV                          Tuvalu       10,472
223           VI             U.S. Virgin Islands      108,708
224           UG                          Uganda   33,398,682
225           UA                         Ukraine   45,415,596
226           AE            United Arab Emirates    4,975,593
227           GB                  United Kingdom   62,348,447
228           US                   United States  310,232,863
229           UY                         Uruguay    3,477,000
230           UZ                      Uzbekistan   27,865,738
231           VU                         Vanuatu      221,552
232           VA                         Vatican          921
233           VE                       Venezuela   27,223,228
234           VN                         Vietnam   89,571,130
235           WF               Wallis and Futuna       16,025
236           EH                  Western Sahara      273,008
237           YE                           Yemen   23,495,361
238           ZM                          Zambia   13,460,305
239           ZW                        Zimbabwe   11,651,858

[240 rows x 3 columns]

In [6]:

display(data_country)

,country_name,code_c,iso_codes,population,area_km2,gpd_usd,country_code
0,Afghanistan,93,AF / AFG,"29,121,286","647,500",20.65 Billion,AF
1,Albania,355,AL / ALB,"2,986,952","28,748",12.8 Billion,AL
2,Algeria,213,DZ / DZA,"34,586,184","2,381,740",215.7 Billion,DZ
3,American Samoa,1-684,AS / ASM,"57,881",199,462.2 Million,AS
4,Andorra,376,AD / AND,"84,000",468,4.8 Billion,AD
5,Angola,244,AO / AGO,"13,068,161","1,246,700",124 Billion,AO
6,Anguilla,1-264,AI / AIA,"13,254",102,175.4 Million,AI
7,Antarctica,672,AQ / ATA,0,"14,000,000",None,AQ
8,Antigua and Barbuda,1-268,AG / ATG,"86,754",443,1.22 Billion,AG
9,Argentina,54,AR / ARG,"41,343,201","2,766,890",484.6 Billion,AR
10,Armenia,374,AM / ARM,"2,968,000","29,800",10.44 Billion,AM
11,Aruba,297,AW / ABW,"71,566",193,2.516 Billion,AW
12,Australia,61,AU / AUS,"21,515,754","7,686,850",1.488 Trillion,AU
13,Austria,43,AT / AUT,"8,205,000","83,858",417.9 Billion,AT
14,Azerbaijan,994,AZ / AZE,"8,303,512","86,600",76.01 Billion,AZ
15,Bahamas,1-242,BS / BHS,"301,790","13,940",8.373 Billion,BS
16,Bahrain,973,BH / BHR,"738,004",665,28.36 Billion,BH
17,Bangladesh,880,BD / BGD,"156,118,464","144,000",140.2 Billion,BD
18,Barbados,1-246,BB / BRB,"285,653",431,4.262 Billion,BB
19,Belarus,375,BY / BLR,"9,685,000","207,600",69.24 Billion,BY
20,Belgium,32,BE / BEL,"10,403,000","30,510",507.4 Billion,BE
21,Belize,501,BZ / BLZ,"314,522","22,966",1.637 Billion,BZ
22,Benin,229,BJ / BEN,"9,056,010","112,620",8.359 Billion,BJ
23,Bermuda,1-441,BM / BMU,"65,365",53,5.6 Billion,BM
24,Bhutan,975,BT / BTN,"699,847","47,000",2.133 Billion,BT
25,Bolivia,591,BO / BOL,"9,947,418","1,098,580",30.79 Billion,BO
26,Bosnia and Herzegovina,387,BA / BIH,"4,590,000","51,129",18.87 Billion,BA
27,Botswana,267,BW / BWA,"2,029,307","600,370",15.53 Billion,BW
28,Brazil,55,BR / BRA,"201,103,330","8,511,965",2.19 Trillion,BR
29,British Indian Ocean Territory,246,IO / IOT,"4,000",60,None,IO
...,...,...,...,...,...,...,...
210,Taiwan,886,TW / TWN,"22,894,384","35,980",484.7 Billion,TW
211,Tajikistan,992,TJ / TJK,"7,487,489","143,100",8.513 Billion,TJ
212,Tanzania,255,TZ / TZA,"41,892,895","945,087",31.94 Billion,TZ
213,Thailand,66,TH / THA,"67,089,500","514,000",400.9 Billion,TH
214,Togo,228,TG / TGO,"6,587,239","56,785",4.299 Billion,TG
215,Tokelau,690,TK / TKL,"1,466",10,None,TK
216,Tonga,676,TO / TON,"122,580",748,477 Million,TO
217,Trinidad and Tobago,1-868,TT / TTO,"1,228,691","5,128",27.13 Billion,TT
218,Tunisia,216,TN / TUN,"10,589,025","163,610",48.38 Billion,TN
219,Turkey,90,TR / TUR,"77,804,122","780,580",821.8 Billion,TR
220,Turkmenistan,993,TM / TKM,"4,940,916","488,100",40.56 Billion,TM
221,Turks and Caicos Islands,1-649,TC / TCA,"20,556",430,None,TC
222,Tuvalu,688,TV / TUV,"10,472",26,38 Million,TV
223,U.S. Virgin Islands,1-340,VI / VIR,"108,708",352,None,VI
224,Uganda,256,UG / UGA,"33,398,682","236,040",22.6 Billion,UG
225,Ukraine,380,UA / UKR,"45,415,596","603,700",175.5 Billion,UA
226,United Arab Emirates,971,AE / ARE,"4,975,593","82,880",390 Billion,AE
227,United Kingdom,44,GB / GBR,"62,348,447","244,820",2.49 Trillion,GB
228,United States,1,US / USA,"310,232,863","9,629,091",16.72 Trillion,US
229,Uruguay,598,UY / URY,"3,477,000","176,220",57.11 Billion,UY
230,Uzbekistan,998,UZ / UZB,"27,865,738","447,400",55.18 Billion,UZ
231,Vanuatu,678,VU / VUT,"221,552","12,200",828 Million,VU
232,Vatican,379,VA / VAT,921,0,None,VA
233,Venezuela,58,VE / VEN,"27,223,228","912,050",367.5 Billion,VE
234,Vietnam,84,VN / VNM,"89,571,130","329,560",170 Billion,VN
235,Wallis and Futuna,681,WF / WLF,"16,025",274,None,WF
236,Western Sahara,212,EH / ESH,"273,008","266,000",None,EH
237,Yemen,967,YE / YEM,"23,495,361","527,970",43.89 Billion,YE
238,Zambia,260,ZM / ZMB,"13,460,305","752,614",22.24 Billion,ZM
239,Zimbabwe,263,ZW / ZWE,"11,651,858","390,580",10.48 Billion,ZW

# Tables Summary

In [7]:
#df_all_raw_data --> All data from .db
#data_jobs_api --> Jobs name from API
#data_country_scraping --> Countries names from scraping

# Export the detail analysis result to a CSV

In [8]:
path_to= '/home/usuario/Documentos/Ironhack/Project_1_0420_JuanMunoz/data/processed'
df_all_raw_data.to_csv(f'{path_to}/df_all_raw_data.csv',index = False, header=True, sep = ';')
data_country_scraping.to_csv(f'{path_to}/data_country_scraping.csv',index = False, header=True, sep = ';')
data_jobs_api.to_csv(f'{path_to}/data_jobs_api.csv',index = False, header=True, sep = ';')