### Data Wrangling

In [1]:
import pandas as pd

In [2]:
#Importing the CSV processed v1
path_from= '/home/usuario/Documentos/Ironhack/Project_1_0420_JuanMunoz/data/processed'


df_all_raw_data = pd.read_csv(f'{path_from}/df_all_raw_data.csv', sep=';') 
data_jobs_api = pd.read_csv(f'{path_from}/data_jobs_api.csv', sep=';') 
data_country_scraping = pd.read_csv(f'{path_from}/data_country_scraping.csv', sep=';') 


df_all_raw_data.head()

,uuid,dem_education_level,dem_full_time_job,normalized_job_code,uuid.1,question_bbi_2016wave4_basicincome_awareness,question_bbi_2016wave4_basicincome_vote,question_bbi_2016wave4_basicincome_effect,question_bbi_2016wave4_basicincome_argumentsfor,question_bbi_2016wave4_basicincome_argumentsagainst,uuid.2,country_code,rural,uuid.3,age,gender,dem_has_children,age_group
0,f6e7ee00-deac-0133-4de8-0a81e8b09a82,no,no,NaN,f6e7ee00-deac-0133-4de8-0a81e8b09a82,I know something about it,I would not vote,None of the above,None of the above,None of the above,f6e7ee00-deac-0133-4de8-0a81e8b09a82,AT,countryside,f6e7ee00-deac-0133-4de8-0a81e8b09a82,61 years old,male,NO,40_65
1,54f0f1c0-dda1-0133-a559-0a81e8b09a82,high,yes,861a9b9151e11362eb3c77ca914172d0,54f0f1c0-dda1-0133-a559-0a81e8b09a82,I understand it fully,I would probably vote for it,A basic income would not affect my work choices,It increases appreciation for household work a...,It might encourage people to stop working,54f0f1c0-dda1-0133-a559-0a81e8b09a82,AT,urban,54f0f1c0-dda1-0133-a559-0a81e8b09a82,57 years old,male,yES,40_65
2,83127080-da3d-0133-c74f-0a81e8b09a82,NaN,no,NaN,83127080-da3d-0133-c74f-0a81e8b09a82,I have heard just a little about it,I would not vote,‰Û_ gain additional skills,It creates more equality of opportunity,Foreigners might come to my country and take a...,83127080-da3d-0133-c74f-0a81e8b09a82,AT,city,83127080-da3d-0133-c74f-0a81e8b09a82,32 years old,male,nO,26_39
3,15626d40-db13-0133-ea5c-0a81e8b09a82,high,yes,049a3f3a2b5f85cb2971ba77ad66e10c,15626d40-db13-0133-ea5c-0a81e8b09a82,I have heard just a little about it,I would probably vote for it,‰Û_ work less,It reduces anxiety about financing basic needs,None of the above,15626d40-db13-0133-ea5c-0a81e8b09a82,AT,Country,15626d40-db13-0133-ea5c-0a81e8b09a82,45 years old,Male,YES,40_65
4,24954a70-db98-0133-4a64-0a81e8b09a82,high,yes,f4b2fb1aa40f661488e2782b6d57ad2f,24954a70-db98-0133-4a64-0a81e8b09a82,I have heard just a little about it,I would probably vote for it,None of the above,It reduces anxiety about financing basic needs,It is impossible to finance | It might encoura...,24954a70-db98-0133-4a64-0a81e8b09a82,AT,city,24954a70-db98-0133-4a64-0a81e8b09a82,41 years old,Fem,yES,40_65

In [3]:
data_jobs_api.head()

,normalized_job_code,title,normalized_job_title
0,f670246beda8187fbe875401e7bc4ba6,Data Processing Services Sales Representative,data processing services sales representative
1,27af8700f5577cec835acee2cb90a2ff,Data Entry Specialist,data entry specialist
2,d0abc47e83e7d85921e113f85175547a,Data Sciences Director,data sciences director
3,e7b3e1c6a32c7247cd4857e4c3574165,Data Processing Systems Analyst,data processing systems analyst
4,d63e35f948115e0c328a49db7bdb6e59,Data Control Clerk Supervisor,data control clerk supervisor

In [4]:
data_country_scraping.head()

  country_code    country_name  population
0           AF     Afghanistan  29,121,286
1           AL         Albania   2,986,952
2           DZ         Algeria  34,586,184
3           AS  American Samoa      57,881
4           AD         Andorra      84,000

In [5]:
df_1 = pd.merge(df_all_raw_data,data_jobs_api, how='left',on = 'normalized_job_code')
df_all = pd.merge(df_1,data_country_scraping, how='left',on = 'country_code')

In [6]:
#Changing column names

new_names_list = ['uuid','education_level','full_time_job','job_code',
'uuid_1','quest_awareness',
'quest_vote',
'quest_effect',
'quest_arguments_for',
'quest_arguments_against',
'uuid_2',
'country_code',
'rural',
'uuid_3',
'age',
'gender',
'has_children',
'age_group',
'job_title',
'job_title_normalized',
'country',
'population']

df_all.columns = new_names_list

In [7]:
#filtering data needed

filter_list = ['uuid','education_level','full_time_job','job_code',
'job_title',
'country_code',
'country',
'rural',
'age',
'gender',
'has_children',
'age_group',
'quest_awareness',
'quest_vote',
'quest_effect',
'quest_arguments_for',
'quest_arguments_against']

df_all = df_all[filter_list]

In [8]:
df_all

,uuid,education_level,full_time_job,job_code,job_title,country_code,country,rural,age,gender,has_children,age_group,quest_awareness,quest_vote,quest_effect,quest_arguments_for,quest_arguments_against
0,f6e7ee00-deac-0133-4de8-0a81e8b09a82,no,no,NaN,NaN,AT,Austria,countryside,61 years old,male,NO,40_65,I know something about it,I would not vote,None of the above,None of the above,None of the above
1,54f0f1c0-dda1-0133-a559-0a81e8b09a82,high,yes,861a9b9151e11362eb3c77ca914172d0,Automatic Data Processing Planner,AT,Austria,urban,57 years old,male,yES,40_65,I understand it fully,I would probably vote for it,A basic income would not affect my work choices,It increases appreciation for household work a...,It might encourage people to stop working
2,83127080-da3d-0133-c74f-0a81e8b09a82,NaN,no,NaN,NaN,AT,Austria,city,32 years old,male,nO,26_39,I have heard just a little about it,I would not vote,‰Û_ gain additional skills,It creates more equality of opportunity,Foreigners might come to my country and take a...
3,15626d40-db13-0133-ea5c-0a81e8b09a82,high,yes,049a3f3a2b5f85cb2971ba77ad66e10c,Data Coordinator,AT,Austria,Country,45 years old,Male,YES,40_65,I have heard just a little about it,I would probably vote for it,‰Û_ work less,It reduces anxiety about financing basic needs,None of the above
4,24954a70-db98-0133-4a64-0a81e8b09a82,high,yes,f4b2fb1aa40f661488e2782b6d57ad2f,Database Developer,AT,Austria,city,41 years old,Fem,yES,40_65,I have heard just a little about it,I would probably vote for it,None of the above,It reduces anxiety about financing basic needs,It is impossible to finance | It might encoura...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9644,7d1ac020-dcb4-0133-817a-0a81e8b09a82,high,yes,847165cfda6b1dc82ae22b967da8af2f,Data Warehouse Developer,SK,Slovakia,urban,37 years old,FeMale,nO,26_39,I understand it fully,I would probably vote for it,‰Û_ spend more time with my family,It reduces bureaucracy and administrative expe...,It is impossible to finance
9645,39f989f0-db52-0133-8482-0a81e8b09a82,high,yes,a4d5b8b38f9513825d0d94a981ebe962,Database Manager,SK,Slovakia,urban,53 years old,Male,yES,40_65,I have never heard of it,I would probably vote against it,A basic income would not affect my work choices,It reduces bureaucracy and administrative expe...,It might encourage people to stop working | On...
9646,70ce4a90-d965-0133-f5e4-0a81e8b09a82,low,no,NaN,NaN,SK,Slovakia,Non-Rural,1992,male,NO,juvenile,I have heard just a little about it,I would not vote,‰Û_ spend more time with my family,It reduces anxiety about financing basic needs,None of the above
9647,2896e440-db3c-0133-5b67-0a81e8b09a82,low,yes,775190277a849cba701b306a7b374c0a,Data Officer,SK,Slovakia,city,47 years old,male,yES,40_65,I understand it fully,I would vote for it,A basic income would not affect my work choices,It reduces bureaucracy and administrative expe...,Foreigners might come to my country and take a...
9648,06217ba0-dd56-0133-edda-0a81e8b09a82,high,yes,8a7a3f1bce0958ae9f090683e5a925b7,Data Scientist,SK,Slovakia,city,51 years old,FeMale,YES,40_65,I understand it fully,I would vote against it,A basic income would not affect my work choices,It reduces bureaucracy and administrative expe...,It might encourage people to stop working | It...

In [9]:
#Changing in education_level 

df_all['education_level'] = df_all['education_level'].fillna('undefined')
df_all['job_code'] = df_all['job_code'].fillna('Unemployed')
df_all['job_title'] = df_all['job_title'].fillna('Unemployed')

#function for remove strange characters
def replace(x):
    try:
        return x.replace("‰û_ ", "").replace("‰Û_ ", "")
    except:
        return x 
    
def lower(x):
    try:
        return x.lower()
    except:
        return x

In [10]:
df_all['quest_awareness'].value_counts()

I know something about it              3389
I understand it fully                  2389
I have heard just a little about it    2305
I have never heard of it               1566
Name: quest_awareness, dtype: int64

In [11]:
df_all['quest_vote'].value_counts()

I would probably vote for it        3272
I would vote for it                 2819
I would probably vote against it    1439
I would not vote                    1159
I would vote against it              960
Name: quest_vote, dtype: int64

In [12]:
df_all['quest_effect']= df_all['quest_effect'].apply(replace)

In [13]:
df_all['quest_effect'].value_counts()

A basic income would not affect my work choices    3349
spend more time with my family                     1387
None of the above                                  1227
gain additional skills                              970
look for a different job                            640
work less                                           629
do more volunteering work                           615
work as a freelancer                                465
stop working                                        367
Name: quest_effect, dtype: int64

In [14]:
#df_all['quest_arguments_for'].value_counts() --> Analyzing

In [15]:
#df_all['quest_arguments_against'].value_counts() --> Analyzing

In [16]:
df_all['country'].value_counts()

Germany           1420
France            1248
United Kingdom    1199
Italy             1138
Spain             1005
Poland             860
Romania            332
Netherlands        331
Greece             225
Hungary            206
Portugal           202
Czech Republic     189
Belgium            179
Sweden             175
Bulgaria           141
Austria            133
Denmark            119
Finland            113
Slovakia            93
Ireland             90
Croatia             87
Lithuania           50
Latvia              36
Slovenia            28
Estonia             18
Cyprus              13
Luxembourg          11
Malta                8
Name: country, dtype: int64

In [17]:
df_all['rural'] = df_all['rural'].apply(lower)
df_all['rural'].value_counts()

urban          3842
city           1664
rural          1517
non-rural      1372
country         772
countryside     482
Name: rural, dtype: int64

In [18]:
def replace_age(x):
    try:
        return int(x.replace(' years old',""))
    except:
        return x
    
df_all['age'] = df_all['age'].apply(replace_age) 


def calculate_age(x):
    try:
        if len(str(x))>3:
            reference_age = 2016
            real_age = reference_age - x
            return real_age
        else:
            return x
    except:
        return x

df_all['age'] = df_all['age'].apply(calculate_age)

 #because from 1991 is in the age_group 25 and 1990 is in age 26 - CALCULATE THE AGE

In [19]:
df_all['age'].value_counts()

40    477
45    402
41    400
42    342
43    338
44    297
25    281
35    281
46    257
27    257
47    249
30    248
48    235
50    231
29    220
39    220
19    210
49    210
28    207
26    207
20    202
31    196
18    186
32    181
33    173
22    169
51    167
34    165
38    160
53    160
52    159
24    154
37    150
23    148
36    148
21    145
16    133
55    132
54    126
15    118
17    116
59    107
57     93
58     91
56     83
14     78
60     74
61     72
62     60
63     58
65     45
64     31
Name: age, dtype: int64

In [20]:
df_all['has_children'] = df_all['has_children'].apply(lower)
df_all['has_children'].value_counts()

yes    5049
no     4600
Name: has_children, dtype: int64

In [21]:
df_all['age_group'] = df_all['age_group'].replace("juvenile",'14_25')
df_all['age_group'].value_counts()

40_65    4896
26_39    2813
14_25    1940
Name: age_group, dtype: int64

In [28]:
df_all['gender'] = df_all['gender'].apply(lower).replace('fem','female')
df_all['gender'].value_counts()

male      5094
female    4555
Name: gender, dtype: int64

In [29]:
#Export the detail analysis result to a CSV
path_to= '/home/usuario/Documentos/Ironhack/Project_1_0420_JuanMunoz/data/processed'
df_all.to_csv(f'{path_to}/df_all.csv',index = False, header=True, sep = ';')